[submodule "ra1e"]
	path = ra1e
	url = https://github.com/elaird/ra1e.git
[submodule "ra1i"]
	path = ra1i
	url = https://github.com/elaird/ra1i.git
[submodule "ra1r"]
	path = ra1r
	url = https://github.com/elaird/ra1r.git
